

<div>
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span>CRUD</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>Sobre</button>
      <button mat-button>Contato</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Ramal</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Checar correio de voz</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Desativar alertas</span>
    </button>
  </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
</div>

<div>
  <router-outlet></router-outlet>
</div>
